In [2]:
import pandas as pd
import numpy as np

In [3]:
#任务1:将列表转化为Numpy数组
data0 = [2, 4, 6.5, 8]
arr0 = np.array(data0)

In [4]:
#任务二：新建padans中的Series数据类型，打印出其大小、索引值、值

In [5]:
#pandas中的series数据类型
s=pd.Series(data=[100,'a',{'dic1':5}],
            index=pd.Index(['id1',20,'third'],name='my_idx'),
            dtype='object',
            name='my_name')

In [6]:
s2=pd.Series(["1","2","3","4"])

In [7]:
s2.index.values

array([0, 1, 2, 3], dtype=int64)

In [8]:
type(s2.values[0])

str

In [9]:
s2.shape[0]

4

In [10]:
s2.size

4

In [11]:
#任务3:创建DataFrame类型的数据，并获取其索引值、值及表大小
d={
    "one":pd.Series([1.0,2.0,3.0],index=["a","b","c"]),
    "two":pd.Series([1.0,2.0,3.0,4.0],index=["a","b","c","d"])
}
df=pd.DataFrame(d)

In [12]:
d1={
    "作者":pd.Series(['余华','残雪','莫言']),
    "作品":pd.Series(['活着','暗夜','红高粱']),
    "价格":pd.Series(['36','72','38'])
}
df2=pd.DataFrame(d1)

In [13]:
df2.index.values

array([0, 1, 2], dtype=int64)

In [14]:
df2.shape

(3, 3)

In [15]:
df2.size

9

In [16]:
df2['作品']

0     活着
1     暗夜
2    红高粱
Name: 作品, dtype: object

In [20]:
df2[['作者','价格']]

   作者  价格
0  余华  36
1  残雪  72
2  莫言  38

In [21]:
df2.values

array([['余华', '活着', '36'],
       ['残雪', '暗夜', '72'],
       ['莫言', '红高粱', '38']], dtype=object)

In [24]:
贵州茅台原始数据=pd.read_csv(R'data\600519.csv')

In [25]:
#按列查询数据
贵州茅台原始数据['TURNOVER']

0        1410347008
1         463463008
2         194689000
3         177558000
4          86231000
           ...
4089     2694714080
4090    10663392512
4091     5239853056
4092     5581027328
4093     5227695104
Name: TURNOVER, Length: 4094, dtype: int64

In [29]:
#按行查询数据
贵州茅台原始数据['TURNOVER','volume']

KeyError: ('TURNOVER', 'volume')

In [ ]:
贵州茅台=贵州茅台原始数据.set_index('day')

In [ ]:
#loc索引器
贵州茅台.loc['2001-8-27']